.container {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    width: 100%;
}

.title {
    composes: text-gradient from global;
    margin: 0;
    font-size: var(--text-2xl);
}

.trackers {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}
