
.toolbar {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    border-radius: 16px;
    justify-content: space-between;
    width: 80vw;
    height: 5vh;
    background: linear-gradient(var(--background-primary), var(--background-secondary));
    border: 1px solid var(--accent-primary);
    box-shadow: 
        0 0 5px var(--accent-primary),     
        0 0 10px var(--accent-secondary),   
        inset 0 1px 0 rgba(255,255,255,0.1);
}


.flex-row-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 4px;
    justify-content: space-evenly;
}