

.story-card-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 8px;
    border-radius: 16px;
    border: 1px solid var(--accent-primary);
    background: linear-gradient(var(--background-primary), var(--background-secondary));
    box-shadow: 
        0 0 5px var(--accent-primary),     
        0 0 10px var(--accent-secondary),   
        inset 0 1px 0 rgba(255,255,255,0.1);
}

.completed-span {
    padding: 8px;
    border-radius: 16px;
    background: var(--success)
}

.ongoing-span {
    padding: 8px;
    border-radius: 16px;
    background: var(--warning)
}

.onhaitus-span {
    padding: 8px;
    border-radius: 16px;
    background: var(--error)
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-between;
}

.story-stats-container {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-between;
    background: linear-gradient(var(--background-primary), var(--background-secondary));
    border: 1px solid var(--accent-primary);
}